@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body {
    font-family: 'Quicksand';
}

.campoBuscar {
    width: 450px;
}

.tarjeta_productos {
    max-width: 350px;
    max-height: 420px;      
}


.tarjeta_productos img {
    height: 250px;
    transition: transform 0.3s ease; 
    overflow: hidden; /* Oculta cualquier parte de la imagen que desborde del contenedor */     
}

.tarjeta_productos img:hover {
    transform: scale(1.1);        
}


/** Campo de busqueda, Formulario de registro, Formulario de inicio sesión, Formulario pedido ***/
.input-group input:focus,
.form_registrarse input:focus,
.form_inicio_sesion input:focus,
.form_pedido input:focus,
.form_pago input:focus {
    box-shadow: none;
    border-color: gray;
}


.offcanvas-footer {
    background-color: #9eb8fa;
}

#tarjetaCredito,
#efectivo,
#transferencia {
    cursor: pointer;
    font-size: 18px;
}